<ion-header>
  <div class="toolbar">
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button routerLink='/home'>
              <ion-icon name="home"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="editApp()" [hidden]="!readonly()">
                    <ion-icon name="create"></ion-icon>
            </ion-button>
            <ion-button routerLink='/profile'>
              <ion-icon name="contact"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title [hidden]="!readonly()">Application Info</ion-title>
        <ion-title [hidden]="readonly()">Update Application Info</ion-title>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content>


  <form [formGroup]="addForm">
      <ion-list *ngIf = "application">
            <ion-list-header>
                   <b>Company Information</b>
                </ion-list-header>
          <ion-item>
              <ion-label *ngIf="readonly()">Company: </ion-label>
              <ion-label *ngIf="!readonly()">Company<ion-note color="danger">*</ion-note>: </ion-label>
              <ion-input [ngClass]="[textStyle]" formControlName="company" type="text"  value = "{{application.company}}" [readonly]="readonly()"> </ion-input>
          </ion-item>   
          <ion-item>
              <ion-label *ngIf="readonly()">Job Title: </ion-label>
              <ion-label *ngIf="!readonly()">Job Title:<ion-note color="danger">*</ion-note>: </ion-label>
              <ion-input [ngClass]="[textStyle]" formControlName="jobTitle" type="text"  value = "{{application.job_title}}" [readonly]="readonly()"> </ion-input>
          </ion-item>
          <ion-item>
              <ion-label>Description: </ion-label>
              <ion-input [ngClass]="[textStyle]" formControlName="jobDescription" type="text"  value = "{{application.description}}" [readonly]="readonly()"> </ion-input>
          </ion-item>
          <ion-item>
              <ion-label>Link: </ion-label>
              <ion-input [ngClass]="[textStyle]" formControlName="jobLink" type="text"  value = "{{application.link}}" [readonly]="readonly()"> </ion-input>
          </ion-item>
        </ion-list>
        <ion-list *ngIf = "application">
          <ion-list-header>
              <b>Contact Information</b>
          </ion-list-header>
          <ion-item>
              <ion-label>Email: </ion-label>
              <ion-input [ngClass]="[textStyle]" formControlName="email" type="text"  value = "{{application.contact.email}}" [readonly]="readonly()"> </ion-input>
              <ion-buttons [hidden]="!readonly()" slot="end">
                <ion-button href="mailto: {{application.contact.email}}">
                    <ion-icon name="mail"></ion-icon>
                </ion-button>
              </ion-buttons>          
        </ion-item>
        <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.email">
                  <div class="error-message" *ngIf="addForm.get('email').hasError(error.type) && (addForm.get('email').dirty || addForm.get('email').touched)">
                    {{ error.message}}
                  </div>
            </ng-container>
        </div>
          <ion-item>
              <ion-label>Phone: </ion-label>
              <ion-input [ngClass]="[textStyle]" formControlName="phone" type="text"  value = "{{application.contact.phone}}" [readonly]="readonly()"> </ion-input>
              <ion-buttons [hidden]="!readonly()" slot="end">
                    <ion-button href="tel:+1{{application.contact.phone}}">
                      <ion-icon name="call"></ion-icon>
                    </ion-button>
              </ion-buttons>

            </ion-item>
        </ion-list>
      <ion-list *ngIf = "application">
        <ion-list-header>
          <b>Status</b>
        </ion-list-header>
        <ion-item>
            <ion-label>Date Applied: </ion-label>
            <ion-input [ngClass]="[textStyle]" formControlName="dateApplied" type="date"  value = "{{application.date_applied}}" [readonly]="readonly()"> </ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Status: </ion-label>
            
            <ion-select [ngClass]="[textStyle]" formControlName="status" [hidden]="readonly()">
                <!-- //<ion-select-option value="{{application.status" selected disabled hidden></ion-select-option> -->
                <ion-select-option value="applied">Applied</ion-select-option>
                <ion-select-option value="inprogress">In Progress</ion-select-option>
                <ion-select-option value="interview">Interview</ion-select-option>
                <ion-select-option value="offer">Offer</ion-select-option>
                <ion-select-option value="denied">Denied</ion-select-option>
            </ion-select>
        
            <ion-input [ngClass]="[textStyle]" [hidden]="!readonly()" formControlName="status" type="text"  value = "{{application.status}}" [readonly]="readonly()"> </ion-input>
        </ion-item>
      </ion-list>
      <div *ngIf = "application">
          <div  *ngIf="isInterview()">
              <ion-item>
                  <ion-label>Interview Date: </ion-label>
                  <ion-input [ngClass]="[textStyle]" formControlName="dateInterview" type="date"  value = "{{application.status_info.interview.date}}" [readonly]="readonly()"> </ion-input>
              </ion-item> 
              <ion-item>
                  <ion-label>Location: </ion-label>
                  <ion-input [ngClass]="[textStyle]" formControlName="locationInterview" type="text"  value = "{{application.status_info.interview.location}}" [readonly]="readonly()"> </ion-input>
              </ion-item> 
              <ion-item>
                  <ion-label>Notes: </ion-label>
                  <ion-input [ngClass]="[textStyle]" formControlName="notesInterview" type="text"  value = "{{application.status_info.interview.notes}}" [readonly]="readonly()"> </ion-input>
              </ion-item> 
          </div>
          <div  *ngIf="isOffer()">
              <ion-item>
                  <ion-label>Amount Annually: </ion-label>
                  <ion-input [ngClass]="[textStyle]" formControlName="amountOffer" type="text"  value = "{{application.status_info.offer.amount}}" [readonly]="readonly()"> </ion-input>
              </ion-item> 
              <ion-item>
                  <ion-label>Accept By: </ion-label>
                  <ion-input [ngClass]="[textStyle]" formControlName="dateOffer" type="date"  value = "{{application.status_info.offer.accept_by}}" [readonly]="readonly()"> </ion-input>
              </ion-item> 
          </div>
      </div>
      <ion-col *ngIf="!readonly()">
            <ion-note> <ion-note color="danger">*</ion-note> indicates field is required</ion-note>
     </ion-col>
      <ion-row align-items="center">
            <ion-button (click) = "cancel()" color="danger" [hidden] = "readonly()" shape="round" size="default"  expand="block">cancel</ion-button>
            <ion-button (click) = "update()" [disabled]="!addForm.valid" [hidden]="readonly()" shape="round" size="default"  expand="block">update</ion-button>
        </ion-row>
  </form>

</ion-content>
