<ion-header>
  <div class="toolbar">
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button routerLink='/home'>
              <ion-icon name="home"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Profile</ion-title>
</ion-toolbar>
</div>
</ion-header>

<ion-content>
  <br/><br/>
  <div align="center">
      <img src="assets/trackthatjob.png"/>
      <br/><br/><br/>
      <font size="5">{{userEmail}}</font>
  <br/><br/><br/>
      <ion-button color="danger" (click)="logout()" routerLink='/login'>Logout</ion-button>
  <br/><br/><br/>
      <font size="2">Support: support@trackthatjob.com or 1-800-JOBTRAK <br/><br/>
      Feedback/Questions: feedback@trackthatjob.com</font>
  </div>

  

</ion-content>