.toolbar {
    margin-top: 15px;
    padding: 10px;
}

h2 {
    font-weight: bold;
}

h3 {
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
    font-style: italic;
}

.app-label {
    text-align: left;
    padding: 10px;
}

.status-indicator {
    padding: 10px;
}

.fav-button {
    padding: 20px;
}