<ion-header>
    <!--
    <ion-row>
      <ion-col>
        <ion-item>
            <ion-select [interfaceOptions]="customPopoverOptions" interface="popover">
                <ion-icon name="funnel"></ion-icon>
                <ion-select-option>My Favs</ion-select-option>
                <ion-select-option>My Favs</ion-select-option>
            </ion-select>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-searchbar showcancelbutton="" placeholder="Search applications..." (ionInput)="filterSearch($event)"></ion-searchbar>
      </ion-col>
      <ion-col>
          <ion-icon name="contact"></ion-icon>
      </ion-col>
    </ion-row>
  -->
    <ion-toolbar color="primary" class="toolbar">
    <ion-searchbar showcancelbutton="" placeholder="Search your applications" (ionInput)="filterSearch($event)"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button>
          <ion-icon name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div slot="start">
    <ion-item slot="end">
      <ion-label>
          My Applications
      </ion-label>
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" (ionChange)="filterSearch($event)">
            <ion-select-option value="all" selected>All</ion-select-option>
            <ion-select-option value="favorite">My Favorites</ion-select-option>
            <ion-select-option value="applied">Applied</ion-select-option>
            <ion-select-option value="inprogress">In Progress</ion-select-option>
            <ion-select-option value="interview">Interview</ion-select-option>
            <ion-select-option value="offer">Offer</ion-select-option>
            <ion-select-option value="denied">Denied</ion-select-option>
        </ion-select>
        <ion-icon class="iconSize" color="primary" name="funnel"></ion-icon>
    </ion-item>
  </div>
    <ion-item-sliding *ngFor ="let app of applications">
      <ion-item button>
        <ion-icon [name]="statusIcon(app.status)" class="status-indicator"></ion-icon>
        <ion-label class='app-label' routerLink = '/company/{{app.id}}'>
          <h2>{{ app.company }}</h2>
          <h3>{{ app.job_title }}</h3>
          <h4>{{ app.status }}</h4>  
        </ion-label>
        <ion-icon class="fav-button" [style.color]="app.favorite ? 'red' : ''" [name]="app.favorite ? 'heart' : 'heart-empty'"
            (click)="favoriteApp(app.favorite, app.id)"></ion-icon>
      </ion-item>

      <ion-item-options side="end">
          <ion-item-option color="danger" (click)="removeApp(app)"><ion-icon name="trash"></ion-icon>Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding> 
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink='/add'><ion-icon name="add"></ion-icon></ion-fab-button>
  </ion-fab>

</ion-content>
