<ion-header>
  <div class="toolbar">
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button>
              <ion-icon name="funnel"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-searchbar placeholder="Search applications..."></ion-searchbar>
        <ion-buttons slot="end">
          <ion-button>
              <ion-icon name="contact"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      My Applications
    </ion-list-header>

    <!--This is where we will generate a list of applications using Angular/JS-->
    <ion-item>
      <!--Status block will change colors. Company, position, app status-->
      <ion-icon name="square" class="in-progress"></ion-icon>
      <ion-label>
        <h2>Info Tech</h2>
        <h3>Backend Developer</h3>
        <p>In progress</p>  
      </ion-label>
      <!--We need to create a component to animate this-->
      <ion-icon name="heart-empty"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button><ion-icon name="add"></ion-icon></ion-fab-button>
  </ion-fab>

</ion-content>
