<ion-header>
  <div class="toolbar">
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="filterButton($event)">
            <ion-icon name="funnel"></ion-icon>               
          </ion-button>  
        </ion-buttons>
        <ion-searchbar showcancelbutton="" placeholder="Search applications..." (ionInput)="filterSearch($event)"></ion-searchbar>
        <ion-buttons slot="end">
          <ion-button>
              <ion-icon name="contact"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      My Applications
    </ion-list-header >
    <ion-item-sliding *ngFor ="let application of applications">
      <ion-item button (click)="openApp()">
        <!--Status block will change colors. Lines under label are Company, position, app status-->
        <ion-icon [name]="statusIcon(application.status)" class="status-indicator"></ion-icon>
        <ion-label class='app-label'>
          <h2>{{ application.company }}</h2>
          <h3>{{ application.job_title }}</h3>
          <h4>{{ application.status }}</h4>  
        </ion-label>
        <!--We need to create a component to animate this-->
        <ion-icon class="fav-button" [style.color]="application.favorite ? 'red' : ''" [name]="application.favorite ? 'heart' : 'heart-empty'"
            (click)="favoriteApp(application.favorite, application.id)"></ion-icon>
      </ion-item>

      <ion-item-options side="end">
          <ion-item-option color="danger" (click)="removeApp(application)"><ion-icon name="trash"></ion-icon>Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding> 
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink='/add'><ion-icon name="add"></ion-icon></ion-fab-button>
  </ion-fab>

</ion-content>
